@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// COLOUR //
$Gunmetal: #022B3A;
$Metallic_Seaweed: #1F7A8C;
$Metallic_Seaweed_Alpha: rgba(31, 122, 140, 0.5);
$Tyrain_Purple: #6A0135;
$Tyrain_Purple_Alpha: rgba(106, 1, 53, 0.5);
$Lavender_Web: #E1E5F2;
$Old_Gold: #BFAB25;

// FONT SIZE //
$font_size_reg: 1.1em;
$font_size_lrg: 2em;

// MIXINS //
@mixin maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@mixin fontitalic {
    text-transform: uppercase;
    font-style: italic;
}

@mixin fontbold {
    text-transform: uppercase;
    font-weight: bold;
}

@mixin bolditalic {
    font-weight: bold;
    font-style: italic;
}

@mixin inlinemiddle{
    display: inline-block;
    vertical-align: middle;
}

@mixin nopadding {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: $Lavender_Web;
    color: $Tyrain_Purple;
    font-size: 1em;
}

.container-fluid {
    padding: 0;
}
// NAV BAR //

#header-img {
    margin-left: 30px;
    width: 100px;
    height: auto;
}

.nav-link {
    color: $Gunmetal;
    font-size: $font_size_reg;
    @include fontitalic;
    text-decoration: none;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, right top, from($Tyrain_Purple), color-stop(50%, $Tyrain_Purple), color-stop(50%, $Gunmetal ));
    background: linear-gradient(to right, $Tyrain_Purple, $Tyrain_Purple 50%, $Gunmetal 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-transition: background-position 275ms ease;
    transition: background-position 275ms ease;
}
  
.nav-link:hover {
    background-position: 0 100%;
    font-weight: bold;
}

.navbar {
    padding-top: 20px;
    padding-right: 30px;
}

.nav-item {
    padding-right: 20px;
}

/* Color of the navbar BEFORE scroll */
.navbar-scroll {
    background-color: $Lavender_Web;
    text-align: end;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}

#bars {
    font-size: 1.5em;
    color: $Gunmetal;
}

.contact {
    background-color: $Gunmetal;
    color: $Lavender_Web;
    font-size: $font_size_reg;
    @include fontitalic;
    font-weight: bold;
    border-radius: 7px;
    padding: 5px 10px;
    text-align: center;
    margin-right: 15px;
    @include inlinemiddle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.contact:before {
    content: "";
    position: absolute;
    z-index: -1;
    @include nopadding;
    background-color: $Old_Gold;
    border-radius: 7px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.contact:hover, .contact:focus, .contact:active {
    color: $Tyrain_Purple;
}

.contact:hover:before, .contact:focus:before, .contact:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

//MAIN //
.gold-bg {
    @include maincontainer;
    background-image: url("images/bg-image.jpg");    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.white-bg {
    @include maincontainer;
    height: auto;
}

#welcome-section {
    height: 100vh;
}

#contact {
    height: auto;
    padding-bottom: 115px;
    text-align: center;
}

section {
    padding-top: 115px;
}

h1 {
    font-weight: bold;
    text-align: center;
}

p {
    line-height: 2;
    text-align: center;
    padding: 0 20px;
}

p:first-of-type {
    @include bolditalic;
    color: $Gunmetal;
    font-size: 1.2em;
}

h4 {
    @include bolditalic;
}

.text-shadow {
    text-shadow: 2px 2px 8px $Lavender_Web;
}

.title-h1 {
    font-size: 4em;
}

#title-p {
    color: $Gunmetal;
    @include bolditalic;
    font-size: 2em;
}

.span-text {
    font-weight: bold;
    color: $Metallic_Seaweed;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 0 20px;
}

// PRICING //
.project-tile {
    padding: 20px 10px;
    margin: 10px;
    background-color: $Metallic_Seaweed_Alpha;
    text-align: center;
    color: $Lavender_Web;
}

h3 {
    font-weight: bold;
    @include fontitalic;
}   

.opacity-hover:hover {
    opacity: 0.5;
}

// FOOTER //
footer {
    bottom: 0;
    left: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    @include fontitalic;
    color: $Tyrain_Purple;
    font-size: $font_size_reg;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5em;
}

.contact-links {
    display: flex;
}

span {
    padding: 0 20px 0 10px;
}

.contact-text {
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
}

.fa {
    font-size: $font_size_lrg;
    text-decoration: none;
    color: $Lavender_Web;
    @include inlinemiddle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.fa:hover, .fa:focus, .fa:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.fa:hover {
    color: $Gunmetal;
}

.fa-linkedin-square {
    padding: 0 5px 0 10px;
}

.fa-github {
    padding: 0 10px;
}

@media (max-width: 576px) {  

    .title-h1 {
        font-size: 2.5em;
    }
    
    #title-p {
        font-size: 1.5em;
    }

    .span-text {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .contact-links {
        display: flex;
        flex-direction: column;
    }

    a.fa {
        padding: 0 0 20px 0;
        font-size: 1.5em;
    }
    
    .contact-text {
        padding: 0 0 0 10px;
    }

    // FOOTER //
    footer {
        font-size: 0.7em;
    }
}

@media (min-width: 280px) and (max-width: 823px) and (orientation: landscape) {
    a.fa {
        font-size: 1.5em;
    }

    // FOOTER //
    footer {
        font-size: 0.7em;
    }
}